<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

    <title>MyFeed</title>

    <style>

        .header {
            margin: 80px auto 60px auto;
            text-align: center;
        }

    </style>
    <title>signup</title>
</head>
<body>
<!--GNB--!>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Mypage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Log In</a>
            </li>
        </ul>
    </div>
</nav>

<!--header-->
<header class="header">
    <h1>SignUp</h1>
    <p>Member already? <a href="#">LogIn</a></p>

</header>


<!--form-->
<div class="container">
    <div class="row">
        <div class="col-md-9 offset-md-2">
            <form>
                <div class="form-row">
                    <div class="col-md-12">
                        <label for="inputEmail">Email address</label>
                    </div>
                    <div class="form-group col-md-8">

                        <input type="email" class="form-control" id="inputEmail" placeholder="이메일을 입력하세요 ">
                    </div>
                    <div class="form-group col-md-2">
                        <button class="btn btn-outline-secondary">ID 중복체크</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Password</label>
                    <input type="password" class="form-control" id="inputPW" placeholder="비밀번호를 입력하세요 ">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPW2" placeholder="비밀번호를 다시 입력하세요 ">
                </div>
                <div class="form-group">
                    <label for="inputName">Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="이름을 입력하세요 ">
                </div>
                <button type="submit" class="btn btn-primary btn-block">가입하기</button>


            </form>
        </div>
    </div>
</div>
</body>
</html>